<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Contato</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<head>
    <link rel="stylesheet" type="text/css" href="../res/site/css/form.css">
</head>
<body>
<section id="secao">
    <div class="conteudo-secao" style="width: 100%;">
        <!-- <div class="form"> -->
            <form action="" class="formulario" style="width: 50%; margin-right: 50px; margin-top: 10%; margin-left: 47%; margin-right: 10px;">
                    <h1 class="formulario__titulo">Fale Conosco!</h1>
                <input type="text" class="formulario__input">
                <label for="" class="formulario__label">Nome:</label>

                <input type="text" class="formulario__input">
                <label for="" class="formulario__label">E-mail:</label>

                <input type="text" class="formulario__input" >
                <label for="" class="formulario__label">Mensagem:</label> 


                <a href="/contato-confirm" class="formulario__submit">Enviar</a>
                <!-- <input type="submit" class="formulario__submit"> -->
            </form>
        <!-- </div> -->


        <!-- <div class="maps"> -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15023.555707945898!2d-47.4079774!3d-23.4984282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cf61ce4634d061%3A0x54f9a979acd0e988!2sUniversidade+de+Sorocaba+-+Cidade+Universit%C3%A1ria+Prof.+Aldo+Vannucchi!5e1!3m2!1spt-BR!2sbr!4v1511033335944" width="40%" height="450px" frameborder="0" style="border:0; margin-top: -40%; margin-left: 50px; margin-bottom: 100px;" allowfullscreen></iframe>
        <!-- </div> -->
    </div>
</section>



<script type="text/javascript" src="../res/site/js/form.js"></script>
</body>


