<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Quem somos</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<head>
    <link rel="stylesheet" type="text/css" href="../res/site/css/form.css">
</head>
<section>
    
    <p style="margin-bottom: 50px;   background: #f1f1f1; padding: 50px;"> O mundo está sempre passando por evoluções tecnológicas. E elas sempre chegam até nós acompanhadas de novos estilos de vida. 

    Nos últimos dez anos, a nossa comunicação se tornou mais imediata, nosso jeito de registrar momentos por fotos se tornou mais instantâneo e até as nossas opções de entretenimento cresceram significantemente. No comércio não foi diferente! Hoje em dia, muitas pessoas compram sem sair de casa e muitas empresas possuem suas lojas virtuais para levar mais conforto aos seus clientes. É o famoso e-commerce.

    Esse tipo de compra e venda acontece através de meios eletrônicos. A história dele é bem mais antiga que a World Wide Web (também conhecida como nossa querida web) e prova que não foi preciso da rede mundial de computadores para que o e-commerce desse os seus primeiros passos. Cada vez mais, grandes e pequenas empresas investem em loja virtual. O que antes era tendência, hoje é uma realidade sólida que está em crescimento constante. Abaixo você confere um infográfico que mostra como surgiu o e-commerce e as principais lojas virtuais da web.</p>

    <center>
        <video width="1280px" height="720px" controls>
            <source src="/res/site/img/video.mp4" type="video/mp4">
        </video>
    </center>
</section>

<script type="text/javascript" src="../res/site/js/form.js"></script>